absl-py==2.1.0
adjustText==1.2.0
adpbulk==0.1.4
aiohttp==3.9.5
aioitertools==0.12.0
aiosignal==1.3.1
anndata==0.10.8
annotated-types==0.7.0
annoy==1.17.3
anyio==4.4.0
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/ci_py311/argon2-cffi-bindings_1676823553406/work
array_api_compat==1.8
arrow==1.3.0
asciitree==0.3.3
asttokens==2.1.0
async-lru @ file:///croot/async-lru_1699554519285/work
attrs @ file:///croot/attrs_1695717823297/work
Babel @ file:///work/ci_py311/babel_1676825020543/work
backoff==2.2.1
bbknn==1.6.0
bcrypt==4.2.0
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
biomart==0.9.2
biopython==1.84
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blessed==1.20.0
blinker==1.8.2
boltons @ file:///work/ci_py311/boltons_1677685195580/work
boto3==1.35.6
botocore==1.35.6
Brotli @ file:///croot/brotli-split_1714483155106/work
cattrs==24.1.2
cell2location==0.1.3
celltypist==1.6.3
certifi @ file:///croot/certifi_1720453481653/work/certifi
cffi @ file:///croot/cffi_1714483155441/work
cfgv==3.4.0
chardet @ file:///work/ci_py311/chardet_1676830276092/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chex==0.1.7
click @ file:///croot/click_1698129812380/work
cloudpickle==3.1.0
clustergrammer==1.13.6
colorcet==3.1.0
colour==0.1.5
comm @ file:///croot/comm_1709322850197/work
conda @ file:///croot/conda_1722004606466/work
conda-build @ file:///croot/conda-build_1721839155874/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1721662679737/work/src
conda-package-handling @ file:///croot/conda-package-handling_1718138267740/work
conda_index @ file:///croot/conda-index_1719338209492/work
conda_package_streaming @ file:///croot/conda-package-streaming_1718136078615/work
contextlib2==21.6.0
contourpy==1.2.1
croniter==1.4.1
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.10
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_bio==1.0.2
dask==2024.12.1
dask-expr==1.1.21
dask-image==2024.5.3
data==0.4
datashader==0.16.3
dateutils==0.6.12
dcor==0.6
debugpy==1.8.2
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
decoupler==1.8.0
deepdiff==7.0.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.3.9
distlib==0.3.8
distributed==2024.12.1
distro @ file:///croot/distro_1714488253808/work
dm-tree==0.1.8
docrep==0.3.2
drug2cell==0.1.0
editor==1.6.6
et-xmlfile==1.1.0
etils==1.9.2
executing==1.2.0
fa2 @ file:///home/conda/feedstock_root/build_artifacts/fa2_1667383684159/work
fa2_modified==0.3.10
face==24.0.0
fastapi==0.112.2
fasteners==0.19
fastjsonschema==2.20.0
fbpca==1.0
fcsparser==0.2.8
filelock @ file:///croot/filelock_1700591183607/work
Flask==3.0.3
flax==0.8.4
fonttools==4.53.1
fqdn==1.5.1
frozendict @ file:///croot/frozendict_1713194832637/work
frozenlist==1.4.1
fsspec==2024.6.1
funcsigs==1.0.2
future==1.0.0
geopandas==1.0.1
GEOparse==2.0.4
geosketch==1.2
glom==24.11.0
gseapy==1.1.3
h11==0.14.0
h5py==3.11.0
harmonypy==0.0.10
HoloNet==0.1.0
httpcore==1.0.5
httpx==0.27.0
identify==2.6.0
idna @ file:///croot/idna_1714398848350/work
igraph==0.11.6
imagecodecs==2024.12.30
imageio==2.34.2
importlib_metadata==8.5.0
importlib_resources==6.4.0
inflect==7.3.1
iniconfig==2.0.0
inquirer==3.4.0
intervaltree==3.1.0
IProgress==0.4
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython==8.26.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.23
jaxlib==0.4.23
jedi @ file:///croot/jedi_1721058342488/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
jmespath==1.0.1
joblib==1.4.2
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonschema @ file:///croot/jsonschema_1699041609003/work
jsonschema-specifications==2023.12.1
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
jupyter_client @ file:///croot/jupyter_client_1699455897726/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab @ file:///croot/jupyterlab_1706802623017/work
jupyterlab_pygments==0.3.0
jupyterlab_server @ file:///croot/jupyterlab_server_1699555425460/work
jupyterlab_widgets==3.0.13
kaleido==0.2.1
kiwisolver==1.4.5
lamin_utils==0.13.10
latex==0.7.0
lazy_loader==0.4
legacy-api-wrap==1.4
legendkit==0.3.4
leidenalg==0.10.2
liana==1.3.0
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libmambapy @ file:///croot/mamba-split_1714483352891/work/libmambapy
lightning==2.0.9.post0
lightning-cloud==0.5.70
lightning-utilities==0.11.6
llvmlite==0.43.0
locket==1.0.0
loompy==3.0.7
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
marsilea==0.4.6
matplotlib==3.9.1
matplotlib-inline==0.1.7
matplotlib-scalebar==0.8.1
matplotlib-venn==1.1.1
mdurl==0.1.2
memoir==0.0.3
menuinst @ file:///croot/menuinst_1718132535249/work
mistune @ file:///work/ci_py311/mistune_1676823683049/work
mizani==0.11.4
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ml-dtypes==0.4.0
ml_collections==0.1.1
more-itertools @ file:///croot/more-itertools_1700662129964/work
mpmath==1.3.0
msgpack==1.0.8
mudata==0.2.4
multidict==6.0.5
multipledispatch==1.0.0
NaiveDE==1.2.0
natsort==8.4.0
nbclient @ file:///croot/nbclient_1698934205032/work
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx==3.3
nodeenv==1.9.1
notebook @ file:///croot/notebook_1719499398921/work
notebook_shim @ file:///croot/notebook-shim_1699455894279/work
numba==0.60.0
numcodecs==0.13.1
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=5f96f274d410a1682519282ae769c877d32fdbf171aa8badec7bf5e1d3a1748a
numpy-groupies==0.11.1
numpyro==0.15.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
ome-zarr==0.10.2
omnipath==1.0.8
opencv-python==4.10.0.84
openpyxl==3.1.5
opt-einsum==3.3.0
optax==0.2.1
orbax-checkpoint==0.5.16
ordered-set==4.1.0
overrides==7.7.0
packaging @ file:///croot/packaging_1720101850331/work
pandas==2.2.2
pandocfilters==1.5.1
param==2.2.0
paramiko==3.5.0
ParmEd==4.3.0
parso==0.8.4
partd==1.4.2
patsy==0.5.6
pcurvepy2==0.1.5
periodictable==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow==10.4.0
PIMS==0.7
pip-autoremove==0.10.0
pkginfo @ file:///croot/pkginfo_1715695984887/work
platformdirs @ file:///croot/platformdirs_1692205439124/work
plotly==5.23.0
plotnine==0.13.6
pluggy==1.5.0
polars==1.2.1
pooch==1.8.2
pre-commit==3.7.1
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval==0.2.3
pyarrow==17.0.0
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct==0.5.0
pycurl==7.45.3
pydantic==2.1.1
pydantic_core==2.4.0
pydeseq2==0.4.11
Pygments==2.18.0
PyJWT==2.9.0
pykegg==0.1.7
PyNaCl==1.5.0
pynndescent==0.5.13
pynvml==11.5.3
pyogrio==0.9.0
pyparsing==3.1.2
pypath-omnipath==0.16.17
pypath_common==0.2.5
pyproj==3.6.1
pyreadr==0.5.2
pyro-api==0.1.2
pyro-ppl==1.9.1
pysam==0.22.1
pysftp==0.2.9
pyslingshot==0.1.5
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pytest==8.3.3
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///croot/python-json-logger_1683823803357/work
python-multipart==0.0.9
pytorch-lightning==2.3.3
pytz @ file:///croot/pytz_1713974312559/work
pyvis==0.3.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
rdata==0.11.2
reactome2py==3.0.0
readchar==4.2.0
readfcs==1.1.9
referencing==0.35.1
reprit==0.9.0
requests @ file:///croot/requests_1721410876868/work
requests-cache==1.2.1
retrying==1.3.4
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich==13.7.1
rpds-py==0.19.1
rpy2==3.5.16
rsrc==0.1.3
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
runs==1.2.2
s3transfer==0.10.2
scanorama==1.7.4
scanpy==1.10.4
scikit-image==0.24.0
scikit-learn==1.1.3
scikit-misc==0.5.1
scipy==1.12.0
scrublet==0.2.3
scvelo==0.3.1
scvi-tools==1.0.4
seaborn==0.13.2
Send2Trash==1.8.3
session_info==1.0.0
shapely==2.0.5
shutilwhich==1.1.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicerator==1.1.0
sniffio @ file:///croot/sniffio_1705431295498/work
sortedcontainers==2.4.0
soupsieve @ file:///croot/soupsieve_1696347547217/work
sparse==0.15.4
spatial_image==1.1.0
SpatialDE==1.1.3
sqlparse==0.5.1
stack-data==0.6.2
starlette==0.38.2
starsessions==1.3.0
statsmodels==0.14.1
stdlib-list==0.10.0
sympy==1.13.1
tabulate==0.9.0
tblib==3.0.0
tempdir==0.7.1
tenacity==9.0.0
tensorstore==0.1.63
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.5.0
tifffile==2024.7.24
timeloop==1.0.2
tinycss2 @ file:///work/ci_py311/tinycss2_1676823757641/work
toml==0.10.2
toolz==0.12.1
torch==2.4.0
torchmetrics==1.4.0.post0
tornado @ file:///croot/tornado_1718740109488/work
tqdm @ file:///croot/tqdm_1716395931952/work
traitlets @ file:///croot/traitlets_1718227057033/work
triton==3.0.0
truststore @ file:///croot/truststore_1695244293384/work
typeguard==4.3.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
umap-learn==0.5.6
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.2.2
uvicorn==0.30.6
velocyto==0.17.17
virtualenv==20.26.3
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==24.6.0
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets==12.0
Werkzeug==3.0.6
widgetsnbextension==4.0.13
wrapt==1.16.0
xarray==2024.7.0
xarray-dataclasses==1.9.1
xarray-schema==0.0.3
xarray-spatial==0.4.0
xlrd==2.0.1
xmod==1.8.1
yarl==1.9.4
zarr==2.18.4
zict==3.0.0
zipp==3.20.2
zstandard @ file:///croot/zstandard_1714677652653/work
